:root {
    --color-bg: #F0F8FF; /* AliceBlue */
    --color-primary: #007BFF; /* Azul */
    --color-secondary: #0964b4; /* Cinza */
    --color-accent: #28A745; /* Verde */
    --color-accent-dark: #218838; /* Verde Escuro */
    --color-text: #2F4F4F; /* DarkSlateGray */
    --color-white: #FFFFFF; /* Branco */
    --color-light-gray: #F8F9FA; /* Cinza Claro */
    --color-lighter-gray: #E9ECEF; /* Cinza Muito Claro */
    --color-link: #FFD700; /* Dourado */
    --color-link-hover: #FF4500; /* Laranja Vermelho */
    --color-link-visited: #FF4500; /* Vermelho */
}

/* Estilos básicos */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.main-nav {
    background: linear-gradient(180deg, var(--color-primary), var(--color-secondary));
    color: var(--color-white);
    padding: 10px 20px;
    text-align: center;
    position: relative;
    border-radius: 8px;
    margin-top: 20px;
}

.menu-toggle {
    display: none;
    background: linear-gradient(180deg, var(--color-primary), var(--color-secondary));
    color: var(--color-white);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.menu-toggle:hover {
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    border-radius: 4px;
}

.main-nav ul {
    background: linear-gradient(180deg, var(--color-primary), var(--color-secondary));
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 4px;
}

.main-nav li {
    
    margin: 0 10px;
}

.main-nav a {
    color: var(--color-white);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.main-nav a:hover {
    background: linear-gradient(180deg, var(--color-primary), var(--color-secondary));
    border-radius: 4px;
}

header, footer {
    background: linear-gradient(180deg, var(--color-primary), var(--color-secondary));
    color: var(--color-white);
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 20px; /* Espaço entre o header e o menu */
}

header p, footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100%; /* Adiciona largura total */
}

footer a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.3s;
}

footer a:visited {
    color: var(--color-link-visited);
}

footer a:hover {
    color: var(--color-link-hover);
}

.responsive-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 4px;
}

.small-image {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.medium-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-primary);
}

p {
    text-align: justify;
}

.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
   
    text-align: justify; /* Justifica o texto */
}

/* Estilos para os Formulários */
#contact-form, #login, #reset-password {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form h2, #login h2, #reset-password h2 {
    text-align: center;
    margin-bottom: 20px;
}

#contact-form form, #login form, #reset-password form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens do formulário */
}

#contact-form label, #login label, #reset-password label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    width: 100%; /* Garante que o label ocupe a largura total do container */
}

#contact-form input,
#contact-form textarea,
#login input,
#reset-password input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%; /* Garante que os campos de entrada ocupem a largura total do container */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

#contact-form button, #login button, #reset-password button {
    padding: 10px;
    background-color: var(--color-accent);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Garante que o botão ocupe a largura total do container */
}

#contact-form button:hover, #login button:hover, #reset-password button:hover {
    background-color: var(--color-accent-dark);
}

#formMessage, #loginMessage, #resetMessage {
    margin-top: 20px;
    text-align: center;
}

/* Estilo do Botão de Reset */
.reset-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 15px auto; /* Centraliza o botão */
}

.reset-button:hover {
    background-color: darkred;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .main-nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-primary);
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        padding-bottom: 10px;
    }

    .main-nav ul.show {
        display: flex;
    }

    .main-nav li {
        margin: 10px 0;
    }

    .main-nav a {
        padding: 10px 20px;
    }

    .main-nav a:hover {
        background-color: var(--color-accent-dark);
        border-radius: 4px;
    }

    #contact-form, #login, #reset-password {
        padding: 10px;
    }

    #contact-form input,
    #contact-form textarea,
    #login input,
    #reset-password input {
        font-size: 14px;
    }

    #contact-form button, #login button, #reset-password button {
        font-size: 14px;
        padding: 8px;
    }
}


@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .main-nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-primary);
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        padding-bottom: 10px;
    }

    .main-nav ul.show {
        display: flex;
    }

    .main-nav li {
        margin: 10px 0;
    }

    .main-nav a {
        padding: 10px 20px;
    }

    .main-nav a:hover {
        background-color: var(--color-accent-dark);
        border-radius: 4px;
    }

    .form-container {
        padding: 10px;
    }

    .form-container input,
    .form-container select,
    .form-container button {
        font-size: 14px;
        padding: 8px;
    }

    .form-container button {
        font-size: 14px;
        padding: 10px;
        width: auto;
    }

    .result-container {
        padding: 10px;
    }

    .result-box p {
        font-size: 14px;
    }
}

